{% extends 'core/baseadmin.html' %}
{% load static %}

{% block principal %}
<main class="container my-5">
    <div class="row justify-content-center">

        <!-- TITULO -->
        <div class="col-12 mb-3">
            <h2 class="display-4 text-center text-capitalize">carrito</h2>
        </div>

        <div class="col-6 row border">

            <!-- USUARIO -->
            <div class="col-12 p-0 mb-2">
                <h3 class="display-4 text-capitalize mt-2" style="font-size: 2em;">{{ usuario.username }}</h3>
            </div>

            <!-- PRODUCTOS -->
            {% for item in items_carrito %}
                <div class="col-12 p-0 m-0">
                    <p class="d-flex justify-content-between align-items-center">
                        {{ forloop.counter }}. {{ item.producto.titulo }} - ${{ item.producto.precio }}
                        <a href="{% url 'item_carrito_delete' item.id %}">X</a>
                    </p>
                </div>
            {% empty %}
                <div class="col-12 p-0 m-0">
                    <p class="d-flex justify-content-between align-items-center">
                        No tiene ningun producto en el carrito
                    </p>
                </div>
            {% endfor %}

            <!-- BOTONES -->
            <div class="col-12 p-0 m-0 my-3 row">
                <div class="col-md-5 col-lg-3 p-0">
                    <a href="{% url 'carrito_clean' %}" class="btn btn-danger btn-block">Vaciar Carrito</a>
                </div>
                <div style="justify-content: center;" class="mt-5 text-center" id="paypal-button"></div>
            </div>
        </div>

    </div>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AX-lURblyPo67G5whuy38UEHNerFT4Us2sG02KejyduYTFbtM4K3BUi5I8hoDurMOSiGytk7FfKoSmfb',
            production: 'demo_production_client_id'
        },
        locale: 'en_US',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill',
        },
        commit: true,
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '{{ total_carrito }}',
                        currency: 'USD'
                    }
                }]
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                window.alert('Thank you for your purchase!');
            });
        }
    }, '#paypal-button');
    </script>
</main>
{% endblock %}
